
.header {
 
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  align-items: center;
  padding: 92px 24px;
  max-width: 1052px;
  margin: auto;
  

  background-color:#d8c871;
    
}

.header__menu {
  display: grid;
  padding: 44px 36px 39px 26.52px;
  font-size: 18px;
  
  
  
}


.header__links-list {
  display: grid;
  grid-template-columns: 98px 184px 108px;
  
   
}

.header__links-list-item {
  /* меняем разделитель с целого на полый */
  list-style: circle;
  

}

.header__links-list-item_no-bullit {
  /* убираем разделитель */
  list-style: none;

}

.header__link {

}

.header__link_active {

}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 137px;

}

.header__logo-image {

 
}

.address {
  padding: 5px 28px 2px 185px;
  font-size: 18px;
}

.header__address {
 

  }




/* .cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.overlay {
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 757px;
  opacity: 60%;
  background: rgb(0, 0, 0);

}

.cover__title {
  position: absolute;
  width: 1000px;
  height: 355px;
  left: 50px;
  right: 50px;
  top: 165px;
  bottom: 237px;
}

  /* убераем булиты или разделитель  */
  list-style: none;
  /* переводит заголовок в верхний регистр */
  text-transform: uppercase;
 */

.aligned-text {

}

.aligned-text_center {

}
.aligned-text_right {

}

.letter-spacing-extended {

}

.no-letter-spacing {

}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}